<section id="edAndExp" class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h3 class="education-title text-center">Educación</h3>
                <div class="education-contents">
                    <div class="education-content">
                        <h4>2008 - 2014</h4>
                        <h3>Secundario</h3>
                        <p>Titulo: Tecnico en computación - Tecnica n°5 Dolores lavalle de lavalle</p>
                    </div>
                    <div class="education-content">
                        <h4>2021 - 2022</h4>
                        <h3>Trayecto Programador</h3>
                        <p>Java, MySql - Cfp N°36 </p>
                    </div>
                    <div class="education-content">
                        <h4>2022 - 2023</h4>
                        <h3>Argentina Programa 3ra Edición</h3>
                        <p>Segunda parte de argentina programa.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="experience-title text-center ">Experiencia</h3>
                <div class="experience-contents ">
                    <div class="experience-content">
                        <h4>2017 - 2020</h4>
                        <h3>Restaurante</h3>
                        <p>Cajero y atención de clientes.</p>
                    </div>
                    <div class="experience-content">
                        <h4>2021 - 2022</h4>
                        <h3>Empleado Fábrica</h3>
                        <p>Trabajos rotativos en fábrica de placas de calefacción.</p>
                    </div>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </div>
</section>