<section id="home" class="d-flex align-items-center">
    <div class="container">
        <div class="col-md-7">
            <h3 class="display-5 homeText">Hola, Usuario!</h3>
            <h2 class="display-4 font-weight-bold"><span class="text-brand">Bienvenido a mi portfolio Web</span></h2>
            <!-- aca arriba iria el texto con animación -->
            <h3 class="display-6 mt-3 mb-5 mr-0" class="homeText2">Si querés contactarte conmigo, hacelo por cualquiera de mis redes. </h3>
            <a href="#" class="btnContact">Contacto</a>
        </div>
    </div>
</section>