<section id="proyects">
<div class="container">
    <div class="row text-center">
        <h2 id="proyects-title">Proyectos Realizados</h2>
    </div>
    <div class="row contenedor">
        <div class="col-lg-7 textoProyecto text-center">
            <h3 class="tituloDeProyecto">Titulo del proyecto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reiciendis, perspiciatis ea minus aliquid veritatis voluptatem maiores totam iure voluptatum eos est maxime, non suscipit earum vero dolor culpa quis?</p>
        </div>
        <div class="col-lg-3 offset-lg-1 imagenProyecto">
            <img src="../../../assets/project-sample-1.jpg" alt="" class="img-fluid imgProyect">
        </div>
    </div>
</div>
</section>
